/* RESET */
body {
  overflow-x: hidden;
  font-family: 'OpenSans', sans-serif;
  letter-spacing: 0;
  margin: 0;
  color: #333333;
}
ol,
ul {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  border: 0;
}
span {
  margin: 0;
  padding: 0;
  outline: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* PADRAO LAYOUT */
.center {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
}
@media screen and (max-width: 1024px) {
  .center {
    width: 970px;
  }
}
/* FLOATS */
.f-l {
  float: left;
}
.f-r {
  float: right;
}
/* Icones topo */
.icon-log {
  width: 12px;
  background: url(../img/sprites/main.png) no-repeat -0px -0px;
  content: '';
  display: inline-block;
}
.icon-firm {
  width: 11px;
  background: url(../img/sprites/main.png) no-repeat -15px -0px;
  content: '';
  display: inline-block;
}
.icon-shop {
  width: 9px;
  background: url(../img/sprites/main.png) no-repeat -29px -0px;
  content: '';
  display: inline-block;
}
.icon-chat {
  width: 16px;
  background: url(../img/sprites/main.png) no-repeat -42px -0px;
  content: '';
  display: inline-block;
}
.icon-phone {
  width: 14px;
  background: url(../img/sprites/main.png) no-repeat -61px -0px;
  content: '';
  display: inline-block;
}
.icon-whatsapp {
  background: url(../img/sprites/main.png) no-repeat -78px -0px;
  content: '';
  display: inline-block;
}
.icon-whatsapp {
  width: 18px;
  height: 18px;
}
.icon-wishlist {
  width: 14px;
  background: url(../img/sprites/main.png) no-repeat -99px -0px;
  content: '';
  display: inline-block;
}
.icon-orders {
  width: 14px;
  background: url(../img/sprites/main.png) no-repeat -117px -0px;
  content: '';
  display: inline-block;
}
/* Busca */
.icon-search {
  background: url(../img/sprites/main.png) no-repeat -53px -24px;
  content: '';
  display: inline-block;
}
.icon-search {
  width: 31px;
  height: 32px;
}
/* Icones carrinho */
.icon-orders {
  background: url(../img/sprites/main.png) no-repeat -0px -19px;
  content: '';
  display: inline-block;
}
.icon-orders {
  width: 47px;
  height: 40px;
}
.icon-orders-hover {
  background: url(../img/sprites/main.png) no-repeat -0px -61px;
  content: '';
  display: inline-block;
}
.icon-orders-hover {
  width: 47px;
  height: 40px;
}
.icon-arrow-up {
  background: url(../img/sprites/main.png) no-repeat -88px -24px;
  content: '';
  display: inline-block;
}
.icon-arrow-up {
  width: 20px;
  height: 12px;
}
.icon-arrow-down {
  background: url(../img/sprites/main.png) no-repeat -88px -40px;
  content: '';
  display: inline-block;
}
.icon-arrow-down {
  width: 20px;
  height: 12px;
}
/* Vitrine */
.icon-arrow-left {
  background: url(../img/sprites/main.png) no-repeat -53px -59px;
  content: '';
  display: inline-block;
}
.icon-arrow-left {
  width: 20px;
  height: 12px;
}
.icon-arrow-right {
  background: url(../img/sprites/main.png) no-repeat -87px -59px;
  content: '';
  display: inline-block;
}
.icon-arrow-right {
  width: 20px;
  height: 12px;
}